country_boundaries/*
__pycache__
data/*
test_image/*
satclip_files/*
land_cover/*
representation_matters/*
subset_results/*
samples/
geoclusters/sampled_points_*
geoclusters/geocluster_plots/
county_sampling/sampled_points_*
county_sampling/county_sampling_plots/
county_sampling/gdf_county.geojson
cluster_tile_previews
