__pycache__
0_data/
*.png
.vscode/
0_results/*/*/summaries
0_results/*/*/plots
0_output
00_old_data
00_old_results
00_old_output
00_old_output2
india_secc
shapefiles
00_output_from_jetstream
*.tex
0_output_backup
0_data_folder/
*.zip
cosine_similarity/
cosine_distance/
features copy/
0_output_*
*.json
0_results/
