country_boundaries/*
__pycache__
mosaiks/
data/*
test_image/*
satclip_files/*
land_cover/*
representation_matters/*
subset_results/*
samples/
geoclusters/sampled_points_*
geoclusters/geocluster_plots/
county_sampling/
cluster_tile_previews
